  body{
    background-color: black;
    background-image: url('../img/bg.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    height: webkit-fill-available;
  }


  .titulo{
    font-size: 2rem;
    color: white;
    text-shadow: 2px 1px 1px black
  }

  .form{
    font-size: 2rem;
    color: white;
    transition: transform 0.5s;
  }

  .form:hover{
    transform: scale(1.05);
  }

  p {
      font-size: 25px;
      color: white;
  }
  h3{
    font-size: 32px;
    color: white;
    transition: transform 0.5s;
}

h3:hover{
  transform: scale(1.05);
}
h1{
  
  color: white;
  transition: transform 0.5s;
}

h1:hover{
transform: scale(1.05);
}


h5{
  font-size: 23px;
  color: white;
  transition: transform 0.5s;
  text-shadow: 2px 1px 1px black;
}

h5:hover{
  transform: scale(1.05);
  }


  h7{
      text-align: center;
      color: green;
  }


  a {
    font-size: 23px;
    text-decoration:none;
    color: black;
  }

  nav a {
      text-decoration:none;
    }



    navbar-toggler-icon{
      color : white;
      
    }


  .card-title{

    color: gold;

  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
  }
  .form-label{

    color: white;
    font-size: 50ox;
    text-shadow: 2px 1px 1px black ;

  }

  .text-center{
    transition: transform 0.5s;
  }

  .text-center:hover{
    transform: scale(1.05);
  }
  .texto{
    color: white;
    transition: transform 0.5s;
  }

  .texto:hover{
    transform: scale(1.05);
  }

  .inscricao{
    transition: transform 0.5s;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco transparente */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 0 auto; /* Margem externa (horizontal centralizada) */
    text-shadow: 1px 1px 1px black ;
    text-align: center; /* Texto centralizado */ 
    max-width: 1100px;
    
}

  .inscricao:hover{
    transform: scale(1.05);
  }

  .nav-link{
    color: white;
  }

  .paragrafo{
    font-size: 1rem;
    transition: transform 0.5s;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco transparente */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px;
    margin: 0 auto; 
    text-shadow: 1px 1px 1px black ;
    max-width: 1000px;
    text-align: center; /* Texto centralizado */
  }

  .paragrafo:hover{
    transform: scale(1.05);
  }


  .carousel{
    transition: transform 0.5s;
  }

  .carousel:hover{
    transform: scale(1.05);
  }

  .mb-3{
    transition: transform 0.5s;
  }

  .mb-3:hover{
    transform: scale(1.05);
  }


  .pauta{
    transition: transform 0.5s;
  }

  .pauta:hover{
    transform: scale(1.05);
  }


  .btn{
    transition: transform 0.5s;
    color: white;
    background-color: green;
  }

  .btn:hover{
    transform: scale(1.1);
    color: white;;
  }

  .btn-agenda{
    transition: transform 0.5s;
    color: white;
    background-color: green;
    text-decoration: none;
  }

  .btn-agenda:hover{
    transform: scale(1.1);
    color: white;;
  }
  .idealizador{
    font-size: 1rem;
    transition: transform 0.5s;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco transparente */
    border-radius: 10px; /* Bordas arredondadas */
    margin: 0 auto;  /* Margem externa (horizontal centralizada) */
    text-shadow: 1px 1px 1px black ;
    max-width: 500px;
    text-align: center; /* Texto centralizado */
  }

  .idealizador:hover{
    transform: scale(1.5);
  }

  .bi{
    transition: transform 0.5s;
  }

  .bi:hover{
    transform: scale(1.5);
  }

    footer a {
      text-decoration: none; /* Aumenta a especificidade */
  }
    /* Estilo para mudar a cor dos ícones */
    .navbar-dark .icones a svg {
      fill: white; /* Altere 'white' para qualquer cor desejada */
    }
    .navbar-dark .icones a:hover svg {
      fill: white; /* Altere para a cor desejada ao passar o mouse */
    }
    

  .logo{
      border-radius: 50%;
    }


    .conteudo-geral {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .conteudo-geral-sliderGeral {
      --larguraDoItem: 150px;
      --alturaDoItem: 100px;
      width: var(--larguraDoItem);
      height: var(--alturaDoItem);
      perspective: 1000px;
    }
    
    .sliderGeral {
      --rotatey: 0;
      font-size: 4rem;
      position: relative;
      transform: rotatey(var(--rotatey));
      transform-style: preserve-3d;
      user-select: none;
      cursor: grab;
    }
    
    .sliderGeral-card {
      opacity: 0.97;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      transition: opacity 0.5s;
      background-size: cover; /* Garante que a imagem cubra o cartão */
      background-position: center; /* Centraliza a imagem */
      background-repeat: no-repeat;
    }
    
    .sliderGeral-card:hover {
      opacity: 1;
    }
    .sliderGeral-card h1 {
      color: #fff;
      font-size: 1.5rem;
    }
    
    .sliderGeral,
    .sliderGeral-card {
      width: 100%;
      height: 100%;
    }
    
    .sliderGeral-card:nth-child(1) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
     
      background-image: url('../img/1.png');
    }
    
    .sliderGeral-card:nth-child(2) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
  
      background-image: url('../img/2.png');
    }
    
    .sliderGeral-card:nth-child(3) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
      
      background-image: url('../img/3.png');
    }
    .sliderGeral-card:nth-child(4) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
      
      background-image: url('../img/4.gif');
    }
    
    .sliderGeral-card:nth-child(5) {
      --rotate: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
      
      background-image: url('../img/5.png');
    }
    
    .sliderGeral-card:nth-child(6) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
    
      background-image: url('../img/6.png');
    }


    .sliderGeral-card:nth-child(6) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
    
      background-image: url('../img/7.png');
    }


    .sliderGeral-card:nth-child(6) {
      --rotatey: 0;
      transform: rotatey(var(--rotatey)) translatez(var(--tz));
    
      background-image: url('../img/8.png');
    }


    
    @media screen and (min-width: 576px) {
      .conteudo-geral-sliderGeral {
        --larguraDoItem: 400px;
        --alturaDoItem: 300px;
      }
    }

    #eventos {
      display: flex;
      flex-direction: column; /* Coloca o conteúdo na vertical */
      align-items: center; /* Centraliza horizontalmente */
      justify-content: center; /* Centraliza verticalmente */
      min-height: 100vh; /* Garante que a seção ocupe toda a altura da janela */
      margin: 0; /* Remove margens extras */
      padding: 0;
    }
    